+/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 80px; /* Ajuste conforme a altura do cabeçalho */
    background-color: #f0f0f0; /* Cor de fundo suave */
}

/* Estilizando o header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ff5733; /* Cor de fundo vibrante */
    color: #fff;
    border-bottom: 2px solid #c70039; /* Borda inferior vibrante */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

/* Estilizando a figura do logo */
header figure {
    margin: 0;
}

/* Estilizando a imagem do logo */
header figure img {
    max-height: 60px;
}

/* Estilizando a navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    color: #ffc300; /* Cor vibrante ao passar o mouse */
}

/* Estilizando a seção Home */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste para ocupar a altura total da tela */
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color: #fff;
    text-align: center;
}

/* Estilizando a figura do logo */
#home figure {
    margin: 0;
}

/* Estilizando a imagem do logo */
#home figure img {
    max-height: 500px; /* Ajuste conforme necessário */
}

/* Estilizando a frase motivacional */
.motivational-quote {
    margin-left: 20px;
}

.motivational-quote h1 {
    font-size: 2em;
    max-width: 600px;
}

/* Estilizando as demais seções */
section {
    padding: 60px 20px;
    text-align: center;
}

#sobre, #eventos, #contato {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

#sobre h2, #eventos h2, #contato h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff5733; /* Cor vibrante */
    font-family: 'Montserrat', sans-serif;
}

#sobre p, #eventos ul, #contato p, #contato ul {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

#eventos ul {
    list-style: none;
    padding: 0;
}

#eventos ul li {
    margin-bottom: 10px;
}

/* Adicionando animação ao texto */
#sobre p, #eventos ul li, #contato p, #contato ul li {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}