
/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Estilizando o header */
header {
    margin-top: 10px;
    height: 50px;
}

/* Estilizando o container do menu */
.container {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between; /* Espaça os itens para alinhar o texto e o menu */
    align-items: center;
    gap: 20px;
    margin: 0 0 10px 0;
}

/* Estilizando o texto <p> dentro do container */
.container p {
    margin: 0;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

/* Estilizando os links do menu */
.container a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; /* Fonte moderna */
    transition: color 0.3s, background-color 0.3s;
    padding: 3px 8px;
    border-radius: 15px;
}

/* Efeito hover nos links */
.container a:hover {
    font-size: 20px;
    background-color: rgba(107, 111, 110, 0.392);
}

/* Estilizando a linha horizontal no header */
header hr {
    margin: 10px auto;
    width: 90%;
    height: 1px;
    background-color: #ff0000;
}
