/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para consistência no layout */
}

/* Estilizando o header */
header {
    margin-top: 10px;
    height: 50px;
}

/* Estilizando o container do menu */
.container {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    width: 70%;
    margin: 0 auto; /* Centraliza o container na página */
    justify-content: center; /* Alinha logo e menu */
    align-items: center;
    margin-bottom: 10px; /* Ajuste de margem inferior */
    gap: 20px; /* Espaçamento entre logo e menu */
}

/* Estilizando o texto <p> dentro do container */
.container p {
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

/* Estilizando os links do menu */
.container a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s;
    padding: 3px 8px;
    border-radius: 15px;
}

/* Efeito hover nos links */
.container a:hover {
    background-color: rgba(107, 111, 110, 0.392);
}

/* Estilizando a linha horizontal no header */
header hr {
    margin: 10px auto;
    width: 80%;
    height: 1px;
    background-color: #ff0000;
}
